modules = ["web", "python-3.11", "nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[deployment]
deploymentTarget = "cloudrun"

[deployment.run]
args = ["sh", "-c", "/nix/store/s4ckxp77ljlikarkka88ba7qr5mlka97-python3-wrapper/bin/python3 $file"]

[deployment.run.env]
file = "main.py"

[[ports]]
localPort = 5004
externalPort = 80

[[ports]]
localPort = 5005
externalPort = 3000

[[ports]]
localPort = 5006
externalPort = 3001

[workflows]

[[workflows.workflow]]
name = "Executar Python"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -u main.py"
